<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <%- include("./partials/publicNavigation"); %>
    <div class="container my-2 col-md-6">
      <h1>Login</h1>
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            class="form-control form-control-lg"
            type="text"
            placeholder="username"
            id="xyz"
            name="username"
          />
        </div>
        <div class="form-group my-3">
          <label for="password">Password</label>
          <input
            class="form-control form-control-lg"
            type="password"
            placeholder="password"
            id="password"
            name="password"
          />
        </div>
        <button type="submit" class="btn btn-success">Login</button>
      </form>
    </div>
    <script>
      document.getElementById("login").className += " active";
    </script>
    <%- include("./partials/footer"); %>
  </body>
</html>
