<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head'); %>
  <body>
    <%- include("./partials/privateNavigation"); %>
    <div class="container my-2 col-md-6">
      <h1>Create a Post</h1>
      <form action="/post" method="POST">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-lg"
            id="title"
            name="title"
            placeholder="title"
          />
        </div>
        <div class="form-group my-3">
          <textarea
            rows="5"
            class="form-control form-control-lg"
            id="content"
            name="content"
            placeholder="post content"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Create Post</button>
      </form>
    </div>
    <%- include("./partials/footer"); %>
  </body>
</html>
