<h1>Create a Post</h1>
<form action="/post" method="POST">
  <!-- display username<input type="text" placeholder="username" id="xyz" name="username"> -->
  <input type="text" id="title" name="title" placeholder="title" />
  <input
    type="textarea"
    id="content"
    name="content"
    placeholder="post content"
  />
  <button>Create Post</button>
</form>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/forum">Forum</a></li>
</ul>
